%header{:display => "flex"}
  %div= link_to 'Contacts', main_contacts_path
  %div= link_to 'Help', main_help_path
  %div= link_to 'About', main_about_path
  %div= link_to 'Ruby on Rails Website', 'http://rubyonrails.org'